#                            
# |   _     |_  o ._   _|  _ 
# |< (/_ \/ |_) | | | (_| _> 
#        /                   

set $m      Mod4
set $up     n
set $down   t
set $left   h
set $right  s
set $ws1    "1"
set $ws2    "2"
set $ws3    "3"
set $ws4    "4"
set $ws5    "5"
set $ws6    "6"
set $ws7    "7"
set $ws8    "8"
set $ws9    "9"
set $ws10   "10"

bindsym $m+Shift+c reload
bindsym $m+Shift+r restart
bindsym $m+Shift+e exec --no-startup-id "i3-nagbar -t warning -m 'OH NOEEES SOMETHING HAS GONE EXTREEMELY WRONG!!!!' -B 'GTFO??' 'i3-msg exit'"

#                             
# |  _.     ._   _ |_   _  ._ 
# | (_| |_| | | (_ | | (/_ |  
#

bindsym $m+Return       exec footclient
bindsym $m+Shift+Return exec foot
bindsym $m+g            exec firefox
bindsym $m+d            exec --no-startup-id dmenu_run
bindsym $m+Shift+d      exec --no-startup-id gmrun
bindsym $m+l           exec --no-startup-id grim -g "$(slurp)" - |tee /tmp/image.png| wl-copy
#bindsym $m+l            exec --no-startup-id maim -o -s  |tee /tmp/image.png| xclip -sel clip -t image/png
bindsym $m+Shift+l      exec --no-startup-id grim -g "$(slurp)" - |tee /tmp/image.png| swappy -f -

bindsym $m+Shift+q  kill

#                                   
# ._ _   _      _  ._ _   _  ._ _|_ 
# | | | (_) \/ (/_ | | | (/_ | | |_ 
#                                   

bindsym $m+$left        focus left
bindsym $m+Left         focus left
bindsym $m+Shift+$left  move left
bindsym $m+Shift+Left   move left
bindsym $m+$down        focus down
bindsym $m+Down         focus down
bindsym $m+Shift+$down  move down
bindsym $m+Shift+Down   move down
bindsym $m+$up          focus up
bindsym $m+Up           focus up
bindsym $m+Shift+$up    move up
bindsym $m+Shift+Up     move up
bindsym $m+$right       focus right
bindsym $m+Right        focus right
bindsym $m+Shift+$right move right
bindsym $m+Shift+Right  move right

#                   
#  _ ._  | o _|_  _ 
# _> |_) | |  |_ _> 
#    |              

bindsym $m+w    split h
bindsym $m+v    split v
bindsym $m+z    layout stacking
bindsym $m+m    layout tabbed
bindsym $m+e    layout toggle split
bindsym $m+f    fullscreen toggle

bindsym $m+Shift+space  floating toggle
bindsym $m+space        focus mode_toggle
bindsym $m+a            focus parent
bindsym $m+minus        scratchpad show
bindsym $m+Shift+minus  move scratchpad

#                                     
#       _  ._ |   _ ._   _.  _  _   _ 
# \/\/ (_) |  |< _> |_) (_| (_ (/_ _> 
#                   |

bindsym $m+1 workspace number $ws1
bindsym $m+2 workspace number $ws2
bindsym $m+3 workspace number $ws3
bindsym $m+4 workspace number $ws4
bindsym $m+5 workspace number $ws5
bindsym $m+6 workspace number $ws6
bindsym $m+7 workspace number $ws7
bindsym $m+8 workspace number $ws8
bindsym $m+9 workspace number $ws9
bindsym $m+0 workspace number $ws10

bindsym $m+Shift+1 move container to workspace number $ws1
bindsym $m+Shift+2 move container to workspace number $ws2
bindsym $m+Shift+3 move container to workspace number $ws3
bindsym $m+Shift+4 move container to workspace number $ws4
bindsym $m+Shift+5 move container to workspace number $ws5
bindsym $m+Shift+6 move container to workspace number $ws6
bindsym $m+Shift+7 move container to workspace number $ws7
bindsym $m+Shift+8 move container to workspace number $ws8
bindsym $m+Shift+9 move container to workspace number $ws9
bindsym $m+Shift+0 move container to workspace number $ws10

#                   
# ._ _   _ o _   _  
# | (/_ _> | /_ (/_ 
#                   

mode "resize" {
        bindsym $left       resize shrink width 10 px or 10 ppt
        bindsym $down       resize grow height 10 px or 10 ppt
        bindsym $up         resize shrink height 10 px or 10 ppt
        bindsym $right      resize grow width 10 px or 10 ppt

        bindsym Left        resize shrink width 10 px or 10 ppt
        bindsym Down        resize grow height 10 px or 10 ppt
        bindsym Up          resize shrink height 10 px or 10 ppt
        bindsym Right       resize grow width 10 px or 10 ppt

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $m+r mode "default"
}
bindsym $m+r mode "resize"
